body {
	background: 8ea7f2;
}
select {
	width: 70px;
}
#wrap {
	width: 600px;
	
	margin: auto;
}
#wrapper {
	width: 600px;
	
	margin: auto;
}
#title {
	background-color: 4664bc;
	font-size: 40px;
	color: white;
	height: 60px;
	text-align: center;
	line-height: 150%;
	border-radius: 6px;
	font-weight: bold;
}
#enterInformationBlock {
	background-color: 587deb;
	border-radius: 6px;
	height: 60px;
	margin-top: 3px;
	color: white;
	font-size: 17px;
	font-weight: bold;
}
#enterProductName {
	float: left;
	margin: auto 15px 10px 15px;
}
#selectUnits {
	float: left;
	margin: auto 15px 10px 15px;
}
#enterQuantity {
	float: left;
	margin: auto 15px 10px 15px;
}
#enterPrice {
	float: left;
	margin: auto 15px 10px 15px;
}
#plus {
	width: 35px;
	height: 35px;
	float: right;
	margin: 10 auto 10 auto;
}
#add_picture {
	margin: auto 20px 10px 20px;
}
#tableTitle {
	
	margin-top: 10px;
	margin-bottom: 3px;
	font-size: 16px;
	font-weight: bold;
	background-color: 587deb;
	color: white;
	text-align: center;
	line-height: 200%;
}
#number {
	width: 30px;
	height: 40px;
	background-color: 587deb;
	border-radius: 3px;
	text-align: center;
	line-height: 200%;
	color: white;
	float: left;
	margin-right: 3px;
	
}
#tableNameOfProduct {
	width: 200px;
	height: 40px;
	background-color: 587deb;
	border-radius: 3px;
	text-align: center;
	line-height: 200%;
	color: white;
	float: left;
	margin-right: 3px;
	
}
#unitsTableField {
	width: 70px;
	height: 40px;
	border-radius: 3px;
	float: left;
	background-color: 587deb;
	margin-right: 3px;
}
#quantityTableField {
	width: 70px;
	height: 40px;
	border-radius: 3px;
	float: left;
	background-color: 587deb;
	margin-right: 3px;
}
#priseTableField {
	width: 70px;
	height: 40px;
	border-radius: 3px;
	float: left;
	background-color: 587deb;
	margin-right: 3px;
}
#total {
	width: 70px;
	height: 40px;
	border-radius: 3px;
	float: left;
	background-color: 587deb;
	margin-right: 3px;
}
#actions {
	width: 70px;
	height: 40px;
	border-radius: 3px;
	background-color: 8ea7f2;
	float: left;
	border: 1px solid white;
	
}

.answerRow {
	width: 600px;
	height: 50px;
	
	margin-top: 3px;
	border-radius: 6px;
}
#answerProductName {
	width: 200px;
	height: 40px;
	background-color: bccbf7;
	border-radius: 3px;
	text-align: center;
	line-height: 200%;
	color: 000c86;
	float: left;
	margin-right: 3px;
}
.numberField {
	width: 30px;
	height: 40px;
	background-color: bccbf7;
	border-radius: 3px;
	text-align: center;
	line-height: 200%;
	color: 000c86;
	float: left;
	margin-right: 3px;
}
#answerUnits, #answerQuantity, #answerPrice, .totalAmmount {
	width: 70px;
	height: 40px;
	border-radius: 3px;
	float: left;
	background-color: bccbf7;
	margin-right: 3px;
	color: 000c86;
	text-align: center;
	line-height: 200%;
}
.action_cell {
	width: 70px;
	height: 40px;
	border-radius: 3px;
	background-color: 8ea7f2;
	float: left;
	border: 1px solid white;
}
.pencil {
	width:25px;
	height: 30px;
	margin-right: 10px;
	margin-top: 5px;
}
.trash {
	width:25px;
	height: 30px;
	margin-top: 5px;
	
}
#totalPriceTitle {
	width: 140px;
	height: 40px;
	border-radius: 3px;
	float: left;
	background-color: bccbf7;
	margin-left: 312px;
	color: 000c86;
	text-align: center;
	line-height: 200%;
}
#totalPrice {
	width: 70px;
	height: 40px;
	border-radius: 3px;
	float: right;
	background-color: bccbf7;
	margin-right: 74px;
	color: 000c86;
	text-align: center;
	line-height: 200%;
}
#coins, #accept_img, #cancel_image {
	width: 30px;
	height: 30px;
	float: left;
}
#editProductNameCell {
	margin-top: 9px;
}
#editQuantityCell, #editUnitsCell, #editPriceCell {
	margin-top: 9px;
	width: 55px;
}
